mixin video(video)
    a(href=`/video/${video.id}`).video-mixin
        div.video-mixin__thumb
            img(src=video.thumbPath, crossorigin)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} views