extends base.pug

block body_content 
    video(src="/" + video.videoPath, controls)
    div
        p=video.description
        small=video.createdAt 
        div
        small Uploaded by #{owner.name}
    
    if signinUser
        if String(video.owner) === String(signinUser._id)
            br
            a(href=`${video.id}/edit`) Edit Video &rarr;
            div
            a(href=`${video.id}/delete`) Delete Video &rarr; 